PORT=4000
NODE_ENV=development

ACCESS_SECRET=change-me
REFRESH_SECRET=change-me
ACCESS_EXPIRES_IN=3600
REFRESH_EXPIRES_IN=604800

CORS_ORIGINS=http://localhost:3000

REGIONS=eg,ksa

DB_POOL_MAX=10
DB_MIGRATION_DIRECTORY=src/migrations
DB_MIGRATION_EXTENSION=ts

DB_eg_HOST=localhost
DB_eg_PORT=5432
DB_eg_USERNAME=postgres
DB_eg_PASSWORD=
DB_eg_NAME=order_service_eg

DB_ksa_HOST=localhost
DB_ksa_PORT=5432
DB_ksa_USERNAME=postgres
DB_ksa_PASSWORD=
DB_ksa_NAME=order_service_ksa

ARCHIVE_DB_eg_HOST=localhost
ARCHIVE_DB_eg_PORT=5432
ARCHIVE_DB_eg_USERNAME=postgres
ARCHIVE_DB_eg_PASSWORD=
ARCHIVE_DB_eg_NAME=order_service_archive_eg

ARCHIVE_DB_ksa_HOST=localhost
ARCHIVE_DB_ksa_PORT=5432
ARCHIVE_DB_ksa_USERNAME=postgres
ARCHIVE_DB_ksa_PASSWORD=
ARCHIVE_DB_ksa_NAME=order_service_archive_ksa

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_CORE_EVENTS_EXCHANGE=core.events
RABBITMQ_CORE_EVENTS_QUEUE=order-service.core-events
RABBITMQ_CORE_EVENTS_BINDINGS="product.#,branch.#,restaurant.#,rbac.#"
RABBITMQ_CORE_EVENTS_DLX=core.events.dlx
RABBITMQ_CORE_EVENTS_DLQ=order-service.core-events.dlq
RABBITMQ_PREFETCH=32

CORE_SERVICE_BASE_URL=http://localhost:3000
CORE_INTERNAL_API_KEY=change-me

WS_HEARTBEAT_SEC=30
